/* styles.css */
body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.menu-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1000;
}

.hamburger {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
}

#sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: black;
    transition: 0.3s;
    z-index: 500;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 50px 20px;
}

#sidebar ul li {
    margin: 20px 0;
}

#sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.discs-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.discs-container img {
    max-width: 200px;
    height: auto;
}

.section-content {
    margin: 60px;
    display: none; /* Ocultar las secciones por defecto */
    padding: 20px;
    background-color: black;
    border: 1px solid white;
}

footer {
    text-align: center;
    color: grey;
    font-size: 14px;
    margin-top: 50px;
}

/* Mostrar la sección activa */
.active {
    display: block;
}
